<div class="main_categories">
			<div class="container">
				<ul class="clearfix">
                {% for cat in categories %}
					<li>
						<a href="{{ path('show.plans.by.category', { 'slug' : cat.slug , 'id' : cat.id }) }}">
							<i class="{{ cat.icon }}"></i>
							<h3>{{ cat.name }}</h3>
						</a>
					</li>

                {% endfor %}
					
					<li>
						<a href="{{ path('search.plan') }}">
							<i class="icon-dot-3"></i>
							<h3>More</h3>
						</a>
					</li>
				</ul>
			</div>
			<!-- /container -->
		</div>
		<!-- /main_categories -->