{% extends 'base-partner.html.twig' %}

{% block title %}New Plan{% endblock %}

{% block stylesheets %}
<style>
.custom-file-label { opacity: 0; }
.custom-file-input { opacity: 1; }

</style>

{% endblock %}
{% block body %}
    <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Management Plan</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('dashboard_partner') }}"><i class="zmdi zmdi-home"></i> Home</a></li>
                        <li class="breadcrumb-item">Plan</li>
                        <li class="breadcrumb-item active">new</li>
                    </ul>
                </div>
            </div>
    </div>

    {{ include('partner/plan/_form.html.twig') }}

{% endblock %}


{% block javascripts %}
<script>

var $sport = $('#create_plan_governorate');

$sport.change(function() {

  var $form = $(this).closest('form');

  var data = {};
  data[$sport.attr('name')] = $sport.val();
   // alert(JSON.stringify(data));

  $.ajax({
    url : $form.attr('action'),
    type: $form.attr('method'),
    data : data,
    success: function(html) {

      $('#create_plan_city').replaceWith(

        $(html).find('#create_plan_city')
      );

    }
  });
});

</script>

{% endblock %}


