{% extends 'base-admin.html.twig' %}

{% block title %}New City{% endblock %}


{% block stylesheets %}


{% endblock %}

{% block body %}

    <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Management City</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('dashboard_admin') }}"><i class="mdi mdi-home menu-icon"></i> Home</a></li>
                        <li class="breadcrumb-item">City</li>
                        <li class="breadcrumb-item active">New</li>
                    </ul>
                </div>  
            </div>
        </div>
        
    {{ include('admin/city/_form.html.twig') }}

{% endblock %}


